<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
</head>
<body style="font-family: Arial, sans-serif;  background-image: url(../static/images/a8.png);  margin: 0; padding: 0;">
    <header style="background-color: #4CAF50; padding: 20px; text-align: center; color: white;">
        <h1 style="margin: 0;">Book an Appointment</h1>
    </header>

    <div style="max-width: 600px; margin: 20px auto; background: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
        <h3 style="color: #4CAF50; margin-bottom: 20px;">Time</h3>
        <div style="margin-bottom: 15px;">
            <h4 style="margin: 10px 0; color: #333;">Monday - Saturday</h4>
            <h4 style="margin: 10px 0; color: #333;">3:00 PM to 7:00 PM</h4>
        </div>
    </div>
</body>
</html>
